<template name="App_body">
  <main class="ui bottom attached segment pushable">
    <div class="ui visible left inverted vertical sidebar menu wide fixed">
      {{>App_profile user=user}}
    </div>
    <div class="pusher main-part">
      <div class="ui secondary pointing menu">
        <a class="item active menu-item" id="js-item">
          Home
        </a>
        {{#if isInRole 'se'}}
          <a class="item menu-item" id="js-item">
            Transactions
          </a>
        {{/if}}
        <a class="item menu-item" id="js-item">
          Passing Exams
        </a>
        <a class="item menu-item" id="js-item">
          Lecture exams
        </a>
        <div class="right menu">
          <a class="ui item" href="#" id="js-logout">
            Logout
          </a>
        </div>
      </div>
      <div class="ui segment">
        {{> yield}}
      </div>
    </div>
  </main>
</template>