<template name="App_body">
  <main class="ui bottom attached segment pushable">
    <div class="ui visible left inverted vertical sidebar menu wide fixed">
      {{>App_profile user=user}}
    </div>
    <div class="pusher main-part">
      <div class="ui secondary pointing menu">
        <a href="/" class="item menu-item {{isActiveRoute name='App.home' class='active'}}" id="js-item">
          Home
        </a>
        {{#if isInRole 'admin,student' 'main'}}
          <a href="{{pathFor 'App.transactions'}}" class="item menu-item {{isActiveRoute name='App.transactions' class='active'}}" id="js-item">
            Transactions
          </a>
          <a href="{{pathFor 'App.passingExams'}}" class="item menu-item {{isActiveRoute name='App.passingExams' class='active'}}" id="js-item">
            Passing Exams
          </a>
        {{/if}}
        {{#if isInRole 'student' 'main'}}
          <a href="{{pathFor 'App.results'}}" class="item menu-item {{isActiveRoute name='App.results' class='active'}}" id="js-item">
            Results
          </a>
        {{/if}}
        {{#if isInRole 'admin,teacher' 'main'}}
          <a href="{{pathFor 'App.lectures'}}" class="item menu-item {{isActiveRoute name='App.lectures' class='active'}}" id="js-item">
            Lecture exams
          </a>
        {{/if}}
        <div class="right menu">
          <a class="ui item" href="#" id="js-logout">
            Logout
          </a>
        </div>
      </div>
      <div class="ui segment">
        {{> yield}}
      </div>
    </div>
  </main>
</template>