body, main {
    overflow: hidden;
}

body .pusher.main-part {
    padding-right: 350px;
    overflow-y: scroll;
    height: 100%;
}

.main-part::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.main-part::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    transition: color 0.2s ease;
}

.main-part::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.profile {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 20px;
        background-size: cover;
        background-position: center;
    }
    p {
        font-size: 1.1rem;
        text-align: left;
    }
    input[type="file"] {
        display: none;
    }
}

.login-form {
    margin-top: 100px;
    .at-pwd-form .ui.form .at-input .input input {
        width: 200px;

    }
    .at-signup-link {
        display: none;
    }
    #at-btn {
        width: 200px;
        margin: 0 auto;
    }
}

#js-editSubject {
    #title {
        width: 150px;
    }
    #desc {
        width: 300px;
    }
}

.search-button {
    i.search {
        height: 1em !important;
    }
}

.transactions-form {
    width: 500px;
    .field {
        input, .selection, .menu {
            box-sizing: border-box;
        }
    }
}